/* body {
    background-color :rgb(222, 222, 151);
    display: flex;
    flex-direction: column;;
}
h1 {
    color: rgb(16, 16, 203);
    
}
#add-todo {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(222, 60, 60);
}
#reset-todo {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(60, 222, 60);

}
#new-todo {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;

}
#todo-items {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: rgb(50, 50, 50);

} */
/* style.css */


body {
    font-family: Arial, sans-serif;
    background: #caa7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #d834f9;
    margin-bottom: 20px;

    
}

.input-box {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background: #eee;
    padding: 5px;
}

li button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
#addTodo {
    background-color: #a053f2;
    color: white;
    border: none;
    border-radius: 3px;
}
#resetTodo {
    background-color: #537bf2;
    color: white;
    border: none;
    border-radius: 3px;
}